<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Üye Listesi</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a th:href="@{/home}"><h4>Veteriner Uygulaması</h4></a>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a th:href="@{/user/information}">Bilgilerim</a>
            </li>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Hayvan İşlemleri</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a th:href="@{/pet/petlist}">Hayvanlarım</a></li>
                </ul>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Yönetim</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a th:href="@{/admin/petlist}">Hayvan İşlemleri</a></li>
                    <li><a th:href="@{/admin/userlist}">Kullanıcı İşlemleri</a></li>
                </ul>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li><a href="#" class="download" th:href="@{/logout}">Çıkış (<span
                    sec:authentication="principal.username"></span>)</a></li>
        </ul>

    </nav>
    <!-- Page Content  -->
    <div id="content">
        <h1>Üye Listesi</h1>
        <br>
        <br>
        <!-- success message -->
        <div th:if="${param.success}">
            <div class="alert alert-info">Başarıyla Silindi.</div>
        </div>

        <br>
        <br>
        <form class="form-inline my-2 my-lg-0" th:action="@{/admin/userlist}" method="get">
            <input class="form-control mr-sm-2" type="search" name="keyword">
            <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Ara</button>
        </form>
        <br>
        <table class="table table-bordered table-striped" style="width: 70em;">
            <thead>
            <tr>
                <th scope="col">Kullanıcı Adı</th>
                <th scope="col">Ad</th>
                <th scope="col">Soyad</th>
                <th scope="col">Email</th>
                <th scope="col">Telefon</th>
                <th scope="col">Yetki</th>
                <th scope="col" style="width: 12em">İşlemler</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="userlist: ${userlists}">
                <td th:text="${userlist.userName}"></td>
                <td th:text="${userlist.firstName}"></td>
                <td th:text="${userlist.lastName}"></td>
                <td th:text="${userlist.information.email}"></td>
                <td th:text="${userlist.information.telephone}"></td>
                <td th:text="${userlist.roles[0].authorityName}"></td>
                <td>
                    <a th:href="@{'/admin/userdetail/' + ${userlist.id}}">
                        <button class="btn btn-info">Detay</button>
                    </a> &emsp;
                    <a th:href="@{'/admin/userdelete/' + ${userlist.id}}">
                        <button class="btn btn-danger">Sil</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>